# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
**/.idea
**/.vscode
**/node_modules
**/videos/
**/screenshots/
**/reports-cucumber/
**/reports-mocha/
**/results
**/xunit.xml
/dataSources.local.xml
**/sd-automation-tests.iml
# Editor-based HTTP Client requests
/httpRequests/

